
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a2hsContainer {
  align-self: flex-start;
  margin: 0.5rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.micDisabled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16rem;
  gap: 1rem;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: start;
  height: auto;
  margin-top: 0.5rem;
}

.party {
  margin-top: 2rem;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-self: start;
  height: auto;
}

.otpInput {
  width: 2rem !important;
  height: 2rem;
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  height: 4rem;
  font-size: 2rem;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
}

.sensitivityWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.sensitivity {
  -webkit-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: #025dc8;
  z-index: 30;
  height: 0.25rem;
  margin: 0.5rem;
  cursor: grab;
  /* &::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  } */
}

.micButton {
  -webkit-appearance: button;
  border: none;
  cursor: pointer;
}

.swipeUpIcon {
  animation: bounceUp 2.5s linear 3s 5 both;
  cursor: pointer;
  text-shadow: 1px 1px 2px #ffffffe0;
}

.modalWrapper {
  position: fixed;
  bottom: 0px;
  z-index: 30;
  width: 100%;
  min-width: 20rem;
}

.modalBackdrop {
  position: fixed;
  inset: 0px;
  z-index: 10;
  opacity: 1;
  transition: all 0.35s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease 0s 1 normal none;
}

.modalContainer {
  position: absolute;
  background-color: #efefef;
  overflow: hidden;
  height: auto;
  transform: translateY(0px);
  transition: all 0.35s ease 0s;
  animation: SlideIn 0.3s ease 0s 1 normal none;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  z-index: 20;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.btn {
  height: 2.75rem;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 100%;
  border-width: 1px;
  border-color: rgba(16, 24, 32, 0.1);
  border-radius: 0.25rem;
  color: #000;
  background-color: #fff;
  box-shadow: rgb(29 28 28 / 25%) 0px 3px 10px 3px;
  cursor: pointer;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}

.btnPrimary {
  color: #fff;
  background-color: #035ec8;
}

.btnSecondary {
  color: #fff;
  background-color: #09a816;
}

.btnError {
  color: #ce0d0d;
  background-color: #efefef;
  border-color: rgb(193 33 7);
  box-shadow: none;
}

.madeBy {
  font-size: 0.6rem;
  color: gray;
}

.link {
  color: rgb(9, 98, 172);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideIn {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounceUp {
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
}

@media (min-width: 1024px) {
  .modalContainer {
    width: 33.3333%;
    margin-left: auto;
    margin-right: auto;
  }
}
